@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&family=Roboto:wght@400;500;700&display=swap');

/* @font-face {
  font-family: "Inter";
  src: url('../public/fonts/inter/Inter-Regular.ttf'); 
  font-weight: normal;
}

@font-face {
  font-family: "Inter";
  src: url('../public/fonts/inter/Inter-Bold.ttf'); 
  font-weight: bold;
}

@font-face {
  font-family: "Inter";
  src: url('../public/fonts/inter/Inter-Light.ttf'); 
  font-weight: light;
}

@font-face {
  font-family: "Inter";
  src: url('../public/fonts/inter/Inter-ExtraLight.ttf'); 
  font-weight: extralight;
}

@font-face {
  font-family: "Inter";
  src: url('../public/fonts/inter/Inter-Medium.ttf'); 
  font-weight: medium;
}

@font-face {
  font-family: "Inter";
  src: url('../public/fonts/inter/Inter-SemiBold.ttf'); 
  font-weight: semibold;
} */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

  main{
    @apply relative
  }

  .news-section {
    @apply 
    py-5
    px-5
    overflow-hidden
    /* xl:px-10 */
  }

 .news-section-heading > h1 {
    @apply text-2xl md:text-3xl font-bold
    text-theme-90 font-mooli
    mb-3 px-0
    /* sm:412 starts */
     sm:px-0
    /* ends */;
  }

  .section-line {
    @apply w-full h-[1px]
    bg-slate-500 inline-block
    mb-5
    /* sm:412 starts */
    sm:px-0    
    /* ends */;
  }

  .news-section-heading{
    @apply xl:px-[7rem]
  }

  .newscard {
    @apply relative p-3 my-5 md:m-5 
    border-[1px] border-theme-10
    xl:w-1/3
    /* fix width bug later */
  }

  .newscard-image-cover {
    @apply relative w-[100%] h-56;
  }

  .newscard-image {
    @apply w-full h-full;
  }

  .newscard-content {
    @apply md:w-[100%];
  }

  .newscard-content > h1 {
    @apply text-lg text-theme-80 
    font-bold my-3 font-mooli
    /* sm:412 starts */
    sm:text-xl
    /* ends */;
  }

  .newscard-content > p {
    @apply text-base text-theme-80
    font-normal font-moderat
    line-clamp-5;
  }

  .card-scroll {
    @apply relative md:flex 
    md:overflow-hidden md:w-[65rem]
    xl:mx-auto
    xl:my-10
    /* xl:bg-red-500 */
  }

  .events-component {
    @apply py-5 px-3 md:px-5 overflow-hidden
    /* mx-auto  */;
  }

  .event-component-heading{
    @apply xl:px-[7rem]
  }

  .events-container {
    @apply 
    md:flex md:flex-row
    md:justify-between
    md:w-[65rem]
    xl:mx-auto
    px-2
  }

  .event-component-heading > h1 {
    @apply text-2xl md:text-3xl font-bold
    text-theme-80 pb-3 px-0
    font-mooli;
  }

  .eventcard {
    @apply flex flex-col
    border-[1px] border-theme-primary 
    mt-5 mb-10 pb-2 md:mx-3 xl:w-1/3
  }

  .eventcard-image-cover {
    @apply relative 
    w-[100%] h-48
    /* sm:412 starts */
    sm:h-64
    /* ends */;
  }

  .eventcard-image {
    @apply w-full h-full;
  }

  .eventcard-content {
    @apply w-[100%];
  }

  .eventcard-content > h1 {
    @apply text-xl text-theme-80 font-bold my-3 px-3 line-clamp-1;
  }

  .eventcard-content > article {
    @apply text-base text-theme-80
    font-moderat font-normal px-3;
  }

  .eventcard-content > a {
    @apply px-3 text-theme-primary
    font-moderat text-lg;
  }

  .footer-section {
    @apply bg-theme-90 text-theme-neutral 
    px-5 pt-10 pb-1 md:px-10
  }

  .footer-content {
    @apply flex flex-col;
    @apply 
    md:flex-row md:justify-between md:items-start
    lg:justify-evenly
  }

  .footer-logo-brife {
    @apply 
    pb-3 md:w-1/2 md:px-3
    lg:w-[25%]
  }

  .footer-logo-cover {
    @apply relative w-12 h-12
    /* sm:412 starts */
    sm:w-16 sm:h-16
    /* ends */;
  }

  .footer-logo {
    @apply w-[100%] h-[100%];
  }

  .footer-logo-brife > p {
    @apply text-[14px] font-normal font-moderat
    /* sm:412 starts */
    sm:text-[16px]
    /* ends */;
  }

  .footer-link {
    @apply pb-3 lg:w-[25%]
  }

  .footer-link > li{
    @apply md:mb-3
  }

  .footer-link > li > a {
    @apply text-theme-primary text-[14px]
    font-normal font-moderat md:text-[18px] 
    lg:text-[16px]
  }

  .footer-socials {
    @apply pb-3 lg:w-[25%]
  }

  .footer-socials > p {
    @apply text-sm md:text-lg text-theme-neutral
    font-moderat my-3 lg:text-sm
  }

  .footer-icons {
    @apply flex mt-3;
  }

  .footer-icon {
    @apply relative w-[23px] h-[23px] mr-3
    /* sm:412 starts  */
    sm:w-[25px] sm:h-[25px]
    /* ends */;
  }

  .footer-copy-right {
    @apply text-sm text-center font-moderat
    my-2 md:text-left lg:text-center lg:py-5
  }
}
